/* These styles will be inherited */
body {
  font-family: sans-serif;
  color: #333;
  /* border-top: solid 10px red; */
}

/* We can also select html selector, outside body */
html {
  margin-top: 0;
  /* border-top: rgb(176, 7, 114) solid 10px; */
}

/* Universal Selector */
/* This one actually gets applied to all elements on the page, although this has low priority */
* {
  /* border-top: #1098bd solid 10px; */
  font-family: sans-serif;
  /* Global Reset */
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: #1098bd;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 40px;
  margin-bottom: 40px;
}
h3 {
  font-size: 36px;
  margin-bottom: 20px;
}

.post-header {
  margin-bottom: 40px;
}
h4 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Remove margin bottom for last li element */
li:last-child {
  margin-bottom: 0;
}

/* Descendent selector 
=> Not a good practice to use these 
=> Use ids and classes instead

article header p {
  font-style: italic;
} 
footer p {
  font-size: 16px;
} */

#author {
  font-style: italic;
}

.related-author {
  font-size: 18px;
  color: rgb(176, 7, 114);
  font-weight: bolder;
}

/* challenge */

.related {
  list-style: none;
}

.main-header {
  background-color: #cdcaca;
  /* Normal padding syntax
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  /* Shorthand padding specified */
  padding: 20px 40px;
  margin-bottom: 60px;
}

aside {
  background-color: #cdcaca;
  border-top: 5px solid #1098bd;
  border-bottom: 5px solid #1098bd;
  padding: 50px 0;
}

/* Pseudo Class */

/* li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(odd) {
  color: rgb(192, 0, 41);
}

li:nth-child(even) {
  color: rgb(78, 174, 7);
} */

article {
  margin-bottom: 40px;
}

/* sample pseudo class */
article p:first-child {
  color: green;
}

/* styling links */
a:link {
  text-decoration: none;
}

a:visited {
  color: #1098bd;
}

a:hover {
  color: rgb(2, 128, 0);
}

/* when link is being pressed */
a:active {
  background-color: black;
}

/* Resolving conflicting selectors */

/* id selector has highest priority */
#copyright {
  font-size: 24px;
  color: green;
}

.copyright {
  font-size: 40px;
  color: red;
}

.text {
  color: black;
  background-color: antiquewhite;
  /* margin-bottom: 500px; */
}

footer p {
  color: purple !important;
}
