* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    to bottom right,
    rgb(187, 149, 171),
    rgb(193, 71, 110)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-content {
  background-color: rgb(221, 136, 190);
  border-radius: 1.2rem;
  overflow: hidden;
  display: flex;
  position: relative;
}

.game-section {
  padding: 6.4rem 7.8rem;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(
    to top left,
    rgb(225, 213, 235),
    rgb(121, 45, 109)
  );
}

.player-title {
  font-size: 3.2rem;
  text-transform: uppercase;
  color: black;
}

.player-dice-score {
  font-size: 4.8rem;
  margin-bottom: 4.8rem;
}

.score-container {
  background-color: rgb(193, 16, 116);
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.4rem 2.8rem;
  border-radius: 0.8rem;
}

.score-title {
  font-size: 1.5rem;
  margin-bottom: 0.6rem;
}
.player-score {
  font-size: 1.4rem;
}

.active {
  background-image: linear-gradient(
    to bottom right,
    rgb(213, 161, 230),
    rgb(155, 143, 155)
  );
}

.inactive {
  background-image: linear-gradient(
    to bottom right,
    rgb(160, 135, 172),
    rgb(99, 40, 106)
  );
}

.absolute-common {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.btn {
  border: none;
  padding: 0.8rem 1.8rem;
  background-color: rgb(255, 255, 255, 0.75);
  font-size: 1.2rem;
  border-radius: 2.4rem;
  text-transform: uppercase;
  color: #444;
}

.btn-new-game {
  top: 3.2rem;
}

.btn-roll-dice {
  top: 20.2rem;
}

.btn-hold {
  top: 24rem;
}

.dice-image {
  position: absolute;
  height: 5rem;
  width: 5rem;
  top: 8rem;
}

.hidden {
  display: none;
}
