<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EMAIL Layout</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link href="../css/email-layout.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <nav>NAV</nav>
      <header>
        <div class="header-element">New</div>
        <div class="header-element">Reply</div>
        <div class="header-element">Forward</div>
        <div class="header-element">Mark Unread</div>
        <div class="header-right">Trash</div>
      </header>

      <ul>
        <li>Email 1</li>
        <li>Email 2</li>
        <li>Email 3</li>
        <li>Email 4</li>
        <li>Email 5</li>
        <li>Email 6</li>
        <li>Email 6</li>
        <li>Email 6</li>
        <li>Email 6</li>
        <li>Email 6</li>
      </ul>

      <section class="email-view">Email View</section>
      <section class="info-view">Additional Info</section>
    </div>
  </body>
</html>
